dist: bionic

before_install:
  - sudo apt update

install:
  - curl -fsS https://dlang.org/install.sh | bash -s dmd
  - sudo apt install -y curl wget
  - sudo wget https://netcologne.dl.sourceforge.net/project/d-apt/files/d-apt.list -O /etc/apt/sources.list.d/d-apt.list
  - sudo apt-get update --allow-insecure-repositories && sudo apt-get -y --allow-unauthenticated install --reinstall d-apt-keyring && sudo apt-get update
  - sudo apt install -y dub

after_install:
  - cat /etc/lsb-release 
  - dmd --version
  - dub --version

script:
  - dub test

branches:
  only:
    - master
